section#about {
  
}
section#about div.wrap {
  background: #f8f8f8;
  padding-bottom: 200px;
  max-width: 1723px;
}
section#about div.wrap h2 {
  font-family: 'Titillium Web', sans-serif;
}
section#about div.wrap ul {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 150px;
}
section#about div.wrap ul li {
  width: calc(100% / 3);
}
section#about div.wrap ul li:nth-child(2){
  border-left: 1px solid;
  border-right: 1px solid;
}
section#about div.wrap ul li svg path{
  transition: all 1s;
}
section#about div.wrap ul li:hover svg path {
  stroke: red;
}
section#about div.wrap ul li h3 {
  font-weight: 600;
  line-height: 4;
}
section#about div.wrap ul li p {
  color: #666;
}
section#about div.wrap ul li p span {
}